[submodule "engine/vendor/tlsf"]
	path = engine/vendor/tlsf
	url = https://github.com/NivekNK/tlsf.git
[submodule "engine/vendor/internal/wyhash"]
	path = engine/vendor/internal/wyhash
	url = https://github.com/wangyi-fudan/wyhash
